#mw_body {
	&.mw_home {
		padding: 0px 0px $padding;
		background-color: $white;
		
		#ContentFrame {
			margin-top: 0px;
			width: auto;
			height: auto;

			#slider-wrapper {
				width: auto;
				height: auto;

				#slider {
					width: 320px !important;
					margin: 0 auto;
				}

				#ItemWrapper {
					position: relative;
					top: 0px;
					left: 0px;
					float: none;
					width: auto;
					padding: 0px $padding;

					.ProductsItem {
						float: none;
						width: auto;
						padding: $padding*1.5 0px;

						&>h2 {
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
							text-transform: uppercase;
							font-size: 18px;
							text-align: left;
							margin: 0px $margin/2 0px !important;
						}

						.Item {
							margin: 0px 8px;
							width: auto;
							float: none;
							display: block;

							&>a {
								font-size: 14px;

								img {
									margin-right: $margin;
								}
							}
						}
						.More {
							float: none;
							text-align: center;
							background-image: none;
							padding: $padding/2 $padding;
							margin: $margin;
							border: 1px solid $gray3;
							border-radius: 5px;
							background-color: $gray2;

							a {
								font-size: 14px;
								color: $gray7;
							}
						}
					}
					.OtherItem {
						float: none;
						width: auto;
						display: block;
						clear: both;
						margin: 0px;
						padding: $padding*1.5 0px;

						.mw_events {
							border-bottom: 4px solid #AABB11;
							padding-bottom: $padding*1.5;
						}
						.mw_press {
							padding-top: $padding*1.5;
						}

						.mw_customer_portals {
							border-bottom: 4px solid #AABB11;
							padding-bottom: $padding*1.5;
						}

						.mw_jobs {
							border-bottom: 4px solid #AABB11;
							padding-top: $padding*1.5;
							padding-bottom: $padding*1.5;
						}

						.mw_newsletter {
							border-bottom: 4px solid #AABB11;
							padding-top: $padding*1.5;
							padding-bottom: $padding*1.5;
							margin-bottom: $padding*1.5;
						}

						h2 {
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
							text-transform: uppercase;
							font-size: 18px;
							text-align: left;
							margin: 0px $margin/2 0px !important;
							float: none;
							position: relative;

							&:after {
						        content:"";
						        position: absolute;
						        top: 2px;
						        right: 3px;
						        @include sprites-plus_black;
						        border-left: 0px dotted rgba(black, 0.35);
					        }
						}

						div[data-ur-toggler-component="content"] {
							padding: $padding;
							text-align: left;

							ul {
								float: none;

								li {
									display: block;
									width: auto;

									a {
										font-size: 15px;
									}
								}
							}
						}

						.ItemHolder {
							position: relative;
							float: none;
							display: inline-block;
							width: 100%;

							.ItemThumb {
								position: absolute;
								top: 10px;
								left: 0;
							}
							.ItemText {
								width: auto;
								padding-left: $padding*4;
								padding-top: $padding;
								padding-bottom: $padding;

								p {
									margin: 0px;

									a {
										font-size: 14px;
										line-height: 1.4em;
									}
									span {
										font-size: 12px;
									}
								}

							}
						}

						.More {
							float: none;
							text-align: center;
							background-image: none;
							padding: $padding/2 $padding;
							margin: $margin;
							border: 1px solid $gray3;
							border-radius: 5px;
							background-color: $gray2;

							a {
								font-size: 14px;
								color: $gray7;
							}
						}

						&.richHTML { 
							text-align: center;

							&>a {
								display: inline-block;
								margin-top: $margin*2;
							}
						}
					}
				}
			}
		}
	}
}
