#mw_body {
	&.mw_subcategory {
		padding: 0px 0px $padding*2;
		background-color: $white;
		margin: 0px auto;
		
		#ContentFrame {
			margin-top: 0px;
			width: auto;
			height: auto;
			padding: 0px;

			#SubNavBar {
				height: auto;
				border-bottom: 1px solid #D6DBDF;
				background-color: #fbfbfc;
				display: block;
				clear: both;
				width: auto;

				#scroller {
					float: left;
				    height: 100%;
				    padding: 0;
				    width: 700px;

					ul {
						display: block;
					    float: left;
					    height: 100%;
					    margin: 0;
					    padding: 0;
					    text-align: left;
					    width: 100%;


						li {
							background-color: #fbfbfc;
						    display: block;
						    float: left;
						    font-size: 14px;
						    height: 100%;
						    padding: 0 0px;
						    vertical-align: middle;
						    width: auto;

							a {
								font-size: 15px;
								display: inline-block;
								position: relative;
								text-shadow: $text-shadow-white;

								&.ActiveLink {
									background-image: none;

									&:after {
										content:"";
										position: absolute;
										bottom: -1px;
										left: 0;
										display: block;
										width: 100%;
										height: 5px;
										background-color: #aabb11;
									}
								}

								&:hover,
								&:active {
									background-image: none;
								}
							}
						}
					}
				}
			}

			#BreadcrumbBar {
				display: none;
			}

			#ContentHeader {
				width: auto;
				display: block;
				background-image: none !important;
				padding: $padding*2 $padding*1.5 $padding*1.5 !important;
				background-color: #fbfbfc !important;
				border-bottom: 1px solid #D6DBDF;

				#TitleTextHolder {
					padding: 0px 0px;

					h2 {
						@include h2;
						font-family: 'Montserrat', sans-serif;
						padding-left: 0px !important;
						background-image: none;
						font-size: 15px;
						line-height: 1.4em;
						display: block;
						margin-bottom: 5px !important;
					}
					h1,
					.product-title {
						@include h1;
						line-height: 1.2em;
						font-family: 'Montserrat', sans-serif;
						font-weight: normal !important;
						color: #AABB11;
						margin-bottom: 0px !important;
						text-shadow: $text-shadow-white;
						font-size: 22px;
					}
					p {
						padding: 5px 0px 0px;
						font-size: 15px;
						line-height: 1.54em;
						width: auto;
						text-shadow: $text-shadow-white;
					}
				}
			}

			#MainContentHolder {
				width: auto;
				float: none;
				display: block;
				padding: $padding*3 $padding*1.5;
				clear: both;
				margin-top: 0px !important;

				#solutions-overview-container {
					margin: 0px;
					width: auto;
					display: block;

					.solution-container {
						width: auto;
						float: none;
						display: block;
						padding: $padding*1.5 $padding*1.5 0px;
						border: 1px solid #999;
						border-radius: 0px;

						.solution-category {
							display: block;
							width: auto;
							float: none;
							font-weight: bold;

							font-size: 17px;
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
							background-image: none;
							padding-left: 0px;
							display: block;
							margin: 0px 0 $margin*2 !important;
							text-transform: uppercase;
						}
						.solution-product-list {
							float: none;
							display: inline-block;
							width: 100%;
							padding: 0px;
							background-image: none;

							.solution-product {
								border-bottom: 1px dotted #999;
								padding-bottom: $padding;
								margin-bottom: $margin;

								&:last-child {
									border-bottom: none;
								}

								.solution-product-icon {
									margin-top: 2px;
								}

								.solution-product-name {
									width: auto;

									a {
										font-size: 15px;
										line-height: 1.54em;
									}
								}
								.solution-product-desc {
									width: auto;
									float: none;
									clear: both;
									margin-left: 0px;
									padding-top: $padding;
									padding-left: 0px;
									background-image: none;

									a {
										font-size: 15px;
										line-height: 1.54em;
										position: relative;
										display: block;
										padding-left: $padding*2;
					  
										&:after {
											content:"";
											position: absolute;
											top: -9px;
											left: -11px;
											display: block;
											@include sprites-blackArrowRight;
										}
									}
								}
							}
						}
					}
				}

				.MainContent {
					width: auto;
					float: none;
					display: block;
					padding: 0px;
					margin-top: 0px;

					.floatR {
						float: left;
						margin: 4px 20px 4px 0px;
					}

					&>h1 {
						display: block;
						font-size: 16px !important;
						line-height: 1.5em !important;
						margin-bottom: $margin*2;
					}

					&>p {
						font-size: 15px;
						line-height: 1.54em;
						padding: 0px;
					}

					.ContentDetail {
						p {
							font-size: 15px;
							line-height: 1.54em;
							padding-right: 0px;
						}

						.div-line {
							background-position: 0px center;
							width: auto;
							@include background-size(320px 6px);
						}
					}

					.TwoCol {
						.FirstCol,
						.LastCol {
							float: none;
							display: inline-block;
							width: 100%;
							margin: 0px;

							h2 {
								font-family: 'Montserrat', sans-serif;
								font-weight: bold;
								text-transform: uppercase;
								font-size: 18px;
								text-align: left;
								margin-bottom: $margin*2 !important;
								display: block;
							}

							h3 {
								font-size: 16px;
								font-family: 'Montserrat', sans-serif;
								font-weight: bold;
								background-image: none;
								padding-left: 0px;
								display: block;
								margin: 18px 0 10px !important;
								text-transform: capitalize;
							}

							p {
								font-size: 15px;
								line-height: 1.54em;

								a {
									color: $blue1;
								}
							}

							img {
								margin: $margin auto $margin*3;
								display: block;
							}

							.floatR,
							.floatL {
								float: none;
							}
						}
					}

					img[alt="Divider Line"] {
						display: block;
						margin-bottom: $margin*2;
						width: auto;
					}

					.ModuleHolder {
						float: none;
						display: inline-block;
						width: 100%;
						text-align: center;

						.ImageHolder {
							float: none;
							text-align: left;
						}
						.ContentHolder {
							float: none;
							width: auto;
							text-align: left;

							h1 {
								font-family: 'Montserrat', sans-serif;
								font-weight: bold;
								text-transform: uppercase;
								font-size: 18px;
								text-align: left;
								margin-bottom: $margin*2 !important;
								display: block;
							}

							p {
								font-size: 15px;
								line-height: 1.54em;
								padding-right: 0px;

								a {
									color: $blue1;
								}
							}

							.BuyBTN {
								margin-right: 18px;
								display: inline-block;

								a {
									@include btn-green;
									color: $white;
									display: block;
									margin: 0 auto;
									width: 136px;
									border: none;
									font-size: 14px;
								}
							}

							.TrialBTN {
								display: inline-block;

								li {
									@include btn-green;
									color: $white;
									display: block;
									margin: 0 auto;
									width: 136px;
									border: none;
									font-size: 14px !important;
									padding: $padding $padding*2 !important;
									border: none !important;
									background-color: #4EAF7C !important;
									background-image: none !important;
									line-height: 1.4em !important;
									font-weight: normal !important;
								}
							}
						}
					}

					.MarketClear {
						display: none !important;
					}

					#myExperience {
						width: 305px !important;
						height: 396px !important;
					}
				}

				#RightColumn {
					width: auto;
					float: none;
					display: block;

					.RightColumn_Block {
						width: auto;
						display: block;
						border-top: 4px solid #D6DBDF;
						background-image: none;
						padding: $padding 0px !important;
						text-align: center;
						margin-bottom: 0px;

						br {
							display: none !important;
						}

						.context-title {
							font-size: 16px !important;
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
							margin-top: $margin*2;
							// margin-bottom: $margin*2 !important;
							text-align: left;
							display: block;

						}
						.txt {
							float: none;
							margin-top: 0px;

							.eskobutton {
								@include btn-green;
								display: block;
								width: 290px;
								margin: $margin*2 auto 0px;
								float: none;
								padding-left: 0px;
								padding-right: 0px;
								font-family: 'Montserrat', sans-serif;
								font-size: 16px !important;
								font-weight: normal !important;
								text-shadow: none !important;

								br {
									display: block !important;
								}
							}

							#PI_UL_Right {
								width: auto !important;
								display: block;
								left: 0px;

								&>li {
									display: block;
									width: auto;
									background-image: none;
									margin: 0px 0px !important;

									&:last-child {
										border-bottom: none !important;
									}

									&>span {
										font-size: 16px !important;
										font-family: 'Montserrat', sans-serif;
										font-weight: bold;
										text-align: left;
										padding: 8px 0px !important;
										display: block;
										position: relative;
										line-height: 24px;

										&:after {
									        content:"";
									        position: absolute;
									        top: 9px;
									        right: 3px;
									        @include sprites-plus_gray;
									        border-left: 0px dotted rgba(black, 0.35);
								        }
									}

									&>span[data-ur-toggler-component="button"][data-ur-state="enabled"] {
										color: #60A725;

										&:after {
											@include sprites-minus_green;
										}
									}

									&>a {
										font-size: 16px !important;
										font-family: 'Montserrat', sans-serif;
										font-weight: bold;
										text-align: left;
										padding: 8px 0px !important;
										line-height: 24px;
									}

									ul[data-ur-toggler-component="content"][data-ur-state="disabled"] {
										display: none !important;
									}

									ul[data-ur-toggler-component="content"][data-ur-state="enabled"] {
										display: block !important;
										width: auto;
										float: none;

										li {
											text-align: left;

											a {
												font-size: 14px;
												text-align: left;
												padding: 6px 0 6px 20px !important;
												display: block;
												position: relative;
					  
												&:after {
													content:"";
													position: absolute;
													top: -6px;
													left: -11px;
													display: block;
													@include sprites-blackArrowRight;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}